@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	@apply max-w-5xl mx-auto p-2 sm:px-4;
}

.skill-svg {
	@apply w-[50px] h-[50px] md:w-[80px] md:h-[80px] fill-[#1A1A1A];
}

@layer utilities {
	.animate-pause {
		animation-play-state: paused;
	}
	.h-screen {
		height: 100vh;
		height: 100svh;
	}
}
